<link rel="stylesheet" href="{{ 'section-example.css' | asset_url }}">

<style>
    #shopify-section-{{ section.id }} .section-example {

        margin-bottom: {{ section.settings.margin-bottom }}px;
    }
</style>

<div class="gift__container">
    <h2 class="gift__title">{{ section.settings.title }}</h2>

    <div class="gift__wrapper">        
        
        {% render 'gift-card' %}
    </div>
</div>

<script type="module" src="{{ 'section-example.js' | asset_url }}"></script>

{% schema %}
    {
        "name": "Gift section",
        "tag": "section",
        "class": "gift",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Choose a customization gift for the loved one"
            },
                        
            {
                "type": "range",
                "id": "margin-bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Margin bottom",
                "default": 45
            }
        ],
        "blocks": [
            {
                "name": "Item",
                "type": "block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "item-logo",
                        "label": "Partner logo"
                    },
                    {
                        "type": "url",
                        "id": "item-url",
                        "label": "Partner link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Gift section",
                "settings": {

                }
            }
        ]
    }
{% endschema %}
